@use 'sprucecss/scss/spruce' as *;

@use 'sprucecss/scss/spruce' as *;

.blog-card {
  @include a11y-card-link('.blog-card__link', true);
  @include layout-stack('s');

  picture,
  img {
    border-radius: var(--doc-border-radius-sm);
  }

  &__meta {
    column-gap: spacer('m');
    display: flex;
    flex-wrap: wrap;
    row-gap: spacer('xs');

    a {
      position: relative;
      z-index: 10;
    }
  }

  &__title {
    font-size: font-size('h3');
    margin-block-start: spacer('xs');
  }

  &__link {
    color: color('heading');
    text-decoration: none;

    &:hover,
    &:focus {
      color: color('heading');
    }
  }
}
