{% extends "layout/base.njk" %}

{% set title = "Accordion Card" %}

{% block style %}
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/container.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/card/accordion.css?{{ hash }}">
    <style>
        body {
            padding-block: 3rem;
        }
    </style>
{% endblock %}

{% block script %}
    <script defer src="{{ domain }}/js/card/accordion.js?{{ hash }}"></script>
{% endblock %}

{% block content %}
    <div class="container container--narrow">
        {% include "./accordion.njk" %}
    </div>
{% endblock %}
