{% extends "layout/base.njk" %}

{% set title = "Info Card" %}

{% block style %}
    <link rel="stylesheet" href="{{ domain }}/css/utility/center.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/list/post.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/container.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/card/info.css?{{ hash }}">
    <style>
        .l-post-list {
            margin-block: 2rem;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="l-post-list">
        <div class="container">
            <div class="l-post-list__inner">
                {% include "./info.njk" %}
            </div>
        </div>
    </div>
{% endblock %}
