{% extends "layout/base.njk" %}

{% set title = "Number Card" %}

{% block style %}
    <link rel="stylesheet" href="{{ domain }}/css/utility/center-vertical.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/container.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/card/number.css?{{ hash }}">
    <style>
        .l-number {
            margin-block: 1.5rem;
        }
    </style>
{% endblock %}

{% block script %}
    <script defer src="{{ domain }}/js/card/number.js?{{ hash }}"></script>
{% endblock %}

{% block content %}
    <div class="l-number">
        <div class="container">
            <div class="l-number__inner">
                {% include "./number.njk" %}
            </div>
        </div>
    </div>
{% endblock %}
