{% extends "layout/base.njk" %}

{% set title = "Order Card" %}

{% block style %}
    <link rel="stylesheet" href="{{ domain }}/css/utility/center-vertical.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/container.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/card/order.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/form/number-group.css?{{ hash }}">
    <style>
        .container > * + * {
            margin-block-start: 1.5rem;
        }
    </style>
{% endblock %}

{% block script %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock %}


{% block content %}
    <div class="container container--narrow">
        {% include "./order.njk" %}
    </div>
{% endblock %}
