{% extends "layout/base.njk" %}

{% set title = "Payment Card" %}

{% block style %}
    <link rel="stylesheet" href="{{ domain }}/css/utility/center-vertical.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/container.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/card/payment.css?{{ hash }}">
    <style>
        .container > * + * {
            margin-block-start: 1.5rem;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container container--narrow">
        {% include "./payment.njk" %}
    </div>
{% endblock %}
