{% extends "layout/base.njk" %}

{% set title = "Auth" %}

{% block style %}
    <link rel="stylesheet" href="{{ domain }}/css/form/auth.css?{{ hash }}">
    <style>
        body {
            align-items: center;
            display: flex;
            justify-content: center;
            padding-block: 4rem;
            padding-inline: 1rem;
        }

        .auth-form {
            width: 30rem;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "./auth.njk" %}
{% endblock %}
