{% extends "layout/base.njk" %}

{% set title = "File List" %}

{% block style %}
    <link rel="stylesheet" href="{{ domain }}/css/utility/center-vertical.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/container.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/form/file-list.css?{{ hash }}">
{% endblock %}

{% block content %}
    <div class="container container--narrow">
        {% include "./file-list.njk" %}
    </div>
{% endblock %}
