{% extends "layout/base.njk" %}

{% set title = "Range Group" %}

{% block style %}
    <link rel="stylesheet" href="{{ domain }}/css/utility/center-vertical.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/form/range-group.css?{{ hash }}">
    <style>
        .container {
            inline-size: 100%;
            margin-inline: auto;
            max-inline-size: 25rem;
        }
    </style>
{% endblock %}

{% block script %}
    <script defer src="{{ domain }}/js/form/range-group.js?{{ hash }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        {% include "./range-group.njk" %}
    </div>
{% endblock %}
