---
title: 'Call to Action'
---

{% extends "layout/component.html" %}

{% set preview %}
    <div class="ui ui--call-to-action">
        {% include "ui/html/content-and-layout/call-to-action.html" %}
    </div>
{% endset %}

{% set html %}
    {% include "ui/html/content-and-layout/call-to-action.html" %}
{% endset %}

{% set scss %}
    {% include "ui/scss/content-and-layout/call-to-action.scss" %}
{% endset %}

{% set description %}
    {% include "ui/md/content-and-layout/call-to-action.md" %}
{% endset %}

{% block style %}
    <link rel="stylesheet" href="/_includes/ui/css/content-and-layout/call-to-action.css">
{% endblock %}
