---
title: 'Post Content'
---

{% extends "layout/component.html" %}

{% set preview %}
    <div class="ui ui--post-content">
        {% include "ui/html/content-and-layout/post-content.html" %}
    </div>
{% endset %}

{% set html %}
    {% include "ui/html/content-and-layout/post-content.html" %}
{% endset %}

{% set scss %}
    {% include "ui/scss/content-and-layout/post-content.scss" %}
{% endset %}

{% set description %}
    {% include "ui/md/content-and-layout/post-content.md" %}
{% endset %}

{% block style %}
    <link rel="stylesheet" href="/_includes/ui/css/content-and-layout/post-content.css">
    <link rel="stylesheet" href="/_includes/ui/css/content-and-layout/gallery.css">
{% endblock %}
