<div class="btn-dropdown" x-data="{ open: false }" @click.outside="open = false">
    <button class="btn btn--primary btn--icon" :aria-expanded="open" @click="open = ! open">
        Add section
        {% svgIcon './src/img/icon/chevron-down.svg', 'btn__icon' %}
    </button>
    <ul x-cloak x-show="open" x-transition class="context-menu context-menu--inline-start">
        <li>
            <button class="context-menu__item">YouTube Video</button>
        </li>
        <li>
            <button class="context-menu__item">Testimonial</button>
        </li>
    </ul>
</div>
