{% extends "layout/base.njk" %}

{% set title = "Context Menu" %}

{% block style %}
    <link rel="stylesheet" href="{{ domain }}/css/utility/center.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/navigation/context-menu.css?{{ hash }}">
    <style>
        .btn-dropdown {
            display: inline-flex;
            position: relative;
            z-index: 10;
        }
    </style>
{% endblock %}

{% block script %}
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock %}

{% block content %}
    {% include "./context-menu.njk" %}
{% endblock %}
