{% extends "layout/base.njk" %}

{% set title = "Open Search" %}

{% block style %}
    <link rel="stylesheet" href="{{ domain }}/css/utility/center.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/navigation/open-search.css?{{ hash }}">
{% endblock %}

{% block content %}
    {% include "./open-search.njk" %}
{% endblock %}
