{% extends "layout/base.njk" %}

{% set title = "Open Search" %}

{% block style %}
    <link rel="stylesheet" href="{{ domain }}/css/utility/center.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/container.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/navigation/pagination.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/utility/tab.css?{{ hash }}">
{% endblock %}

{% block script %}
    <script src="{{ domain }}/js/tabs.js?{{ hash }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="tablist-wrapper">
            <ul role="tablist" aria-label="Variants">
                <li>
                    <button id="tab-1" role="tab" aria-selected="true" aria-controls="tabpanel-1">default</button>
                </li>
                <li>
                    <button id="tab-2" role="tab" aria-selected="false" aria-controls="tabpanel-2">--sm</button>
                </li>
                <li>
                    <button id="tab-3" role="tab" aria-selected="false" aria-controls="tabpanel-3">--lg</button>
                </li>
            </ul>
        </div>
        <div id="tabpanel-1" role="tabpanel" tabindex="0" aria-labelledby="tab-1">
            {% set pagination = {
                'class': 'pagination__page-number'
            } %}

            {% include "./pagination.njk" %}
        </div>
        <div id="tabpanel-2" role="tabpanel" tabindex="0" aria-labelledby="tab-2" class="hidden">
            {% set pagination = {
                'class': 'pagination__page-number pagination__page-number--sm'
            } %}

            {% include "./pagination.njk" %}
        </div>
        <div id="tabpanel-3" role="tabpanel" tabindex="0" aria-labelledby="tab-3" class="hidden">
            {% set pagination = {
                'class': 'pagination__page-number pagination__page-number--lg'
            } %}

            {% include "./pagination.njk" %}
        </div>
    </div>
{% endblock %}
