<nav class="post-navigation">
    <a class="post-navigation-item post-navigation-item--prev" href="#">
        <span class="post-navigation-item__icon">
            {% svgIcon './src/img/icon/arrow-left.svg' %}
        </span>
        <span class="post-navigation-item__caption">Previous<span class="post-navigation-item__title">5 Laravel E-commerce Packages</span>
        </span>
    </a>
    <a class="post-navigation-item post-navigation-item--next" href="#">
        <span class="post-navigation-item__caption">Next<span class="post-navigation-item__title">What Is the Accessibility Tree?</span>
        </span>
        <span class="post-navigation-item__icon">
            {% svgIcon './src/img/icon/arrow-right.svg' %}
        </span>
    </a>
</nav>
