{% if not navigation %}
    {% set navigation = {
        'class': 'site-navigation'
    } %}
{% endif %}

<nav class="{{ navigation.class }}" aria-label="Site">
    <button class="btn btn--primary btn--icon site-navigation__btn" data-action="navigation-toggle" aria-controls="primary-menu" aria-expanded="false" aria-label="Menu">
        {% svgIcon './src/img/icon/menu.svg', 'btn__icon' %}
    </button>
    <ul class="navigation-menu">
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="#">Products</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>
