@use 'sprucecss/scss/spruce' as *;

.no-transition {
  * {
    transition: none !important;
  }
}

.theme-switcher {
  color: color('text');
  display: inline-flex;
  position: relative;

  &[data-theme-mode='system'] .icon-system,
  &[data-theme-mode='light'] .icon-light,
  &[data-theme-mode='dark'] .icon-dark {
    display: inline-block;
  }

  &__icon {
    align-items: center;
    color: color('heading');
    display: flex;
    inline-size: 2em;
    inset: 0 auto 0 0;
    justify-content: center;
    pointer-events: none;
    position: absolute;

    svg {
      block-size: 0.85em;
      display: none;
      inline-size: 0.85em;
    }
  }

  &__select {
    padding-inline-start: 2em;
  }
}
