{% extends "layout/base.njk" %}

{% set title = "Lang Switcher" %}

{% block style %}
    <link rel="stylesheet" href="{{ domain }}/css/utility/center.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/misc/lang-switcher.css?{{ hash }}">
{% endblock %}

{% block script %}
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock %}

{% block content %}
    {% include "./lang-switcher.njk" %}
{% endblock %}
