{% extends "layout/base.njk" %}

{% set title = "Skip Link" %}

{% block style %}
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/container.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/site-header.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/navigation/site-navigation.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/misc/skip-link.css?{{ hash }}">
    <style>
        body {
            padding-block-end: 3rem;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "./skip-link.njk" %}
    {% include "../content-and-layout/site-header.njk" %}
    <div class="container">
        <main id="content">
            <a href="#">A link in the content area</a>
        </main>
    </div>
{% endblock %}
