@use 'sprucecss/scss/spruce' as *;

.sprucecss-post-heading {
  $this: &;
  align-items: center;
  display: grid;
  gap: spacer('s');
  grid-template-columns: minmax(0, 1fr);
  justify-content: center;
  padding-block: clamp(spacer('l'), 10vw, 5rem) clamp(spacer('xl'), 10vw, 7rem);
  text-align: center;

  @include breakpoint('md') {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.25fr);
    justify-content: flex-start;
    text-align: start;
  }

  &--center {
    grid-template-columns: minmax(0, 1fr);
    justify-content: center;
    padding-block: clamp(5rem, 10vw + 1rem, 7rem) spacer('xl');
    text-align: center;

    .breadcrumb-list {
      margin-inline: auto;
    }

    #{$this}__title {
      font-size: responsive-font-size(4.25rem, 40, '4vw + 1rem');
      margin-inline: auto;
    }

    #{$this}__description {
      margin-inline: auto;
    }
  }

  &__title {
    font-size: responsive-font-size(4rem, 40, '4vw + 1rem');
    letter-spacing: -2px;
    line-height: 1;
    margin-block: 0;
    margin-inline: auto;
    max-inline-size: 20ch;
    text-wrap: balance;

    @include breakpoint('md') {
      margin-inline: 0;
    }
  }

  &__breadcrumb {
    display: flex;
    margin-block-start: spacer('s');
  }

  &__description {
    font-size: responsive-font-size(1.25rem, 30, '1vw + 0.75rem');
    margin: spacer('m') 0 0;
    margin-block: 0;
    margin-inline: auto;
    max-inline-size: 50ch;
    text-wrap: balance;

    @include breakpoint('md') {
      margin-inline: 0;
    }
  }

  &__meta {
    align-items: center;
    column-gap: spacer('m');
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block-start: spacer('l');
    row-gap: spacer('xs');
  }
}
