@use 'sprucecss/scss/spruce' as *;

.post-content {
  @include layout-stack;

  @include breakpoint('md') {
    font-size: 1.0375rem;
  }

  :is(dd, dl, dl, h1, h2, h3, h4, h5, h6, hr, ul, ol, p:not(p:has(img)), blockquote, form, pre, [class*=language-], .notification, .anchor-heading) {
    @include layout-center(null, 45rem);
  }

  * + h2,
  * + h3,
  * + .anchor-heading {
    margin-block-start: spacer('l');
  }

  img,
  iframe {
    border-radius: var(--doc-border-radius-sm);
  }

  iframe {
    aspect-ratio: 16 / 10;
    block-size: auto;
    inline-size: 100;
  }

  > picture:first-child + * {
    margin-block-start: spacer('l');
  }

  .anchor-heading h2,
  .anchor-heading h3 {
    scroll-padding-block-start: spacer('m');
  }
}
