@use 'sprucecss/scss/spruce' as *;

.post-content {
  @include layout-stack;

  @include breakpoint('md') {
    font-size: 1.0375rem;
  }

  * + h2,
  * + h3,
  * + .anchor-heading {
    margin-block-start: spacer('l');
  }

  img,
  iframe {
    border-radius: var(--doc-border-radius-sm);
  }

  iframe {
    aspect-ratio: 16 / 10;
    block-size: auto;
    inline-size: 100;
  }

  > picture:first-child + * {
    margin-block-start: spacer('l');
  }
}
