---
title: 'Preloader'
---

{% extends "layout/component.html" %}

{% set preview %}
    <div class="ui ui--center ui--preloader">
        {% include "ui/html/feedback/preloader.html" %}
    </div>
{% endset %}

{% set html %}
    {% include "ui/html/feedback/preloader.html" %}
{% endset %}

{% set scss %}
    {% include "ui/scss/feedback/preloader.scss" %}
{% endset %}

{% set description %}
    {% include "ui/md/feedback/preloader.md" %}
{% endset %}

{% block style %}
    <link rel="stylesheet" href="/_includes/ui/css/feedback/preloader.css">
{% endblock %}
