---
title: 'Accordion'
extendedTitle: 'Accordion Card'
---

{% extends "layout/component.html" %}

{% set preview %}
    <div class="ui ui--accordion">
        {% include "ui/html/card/accordion.html" %}
    </div>
{% endset %}

{% set html %}
    {% include "ui/html/card/accordion.html" %}
{% endset %}

{% set scss %}
    {% include "ui/scss/card/accordion.scss" %}
{% endset %}

{% set js %}
    {% include "ui/js/card/accordion.js" %}
{% endset %}

{% set description %}
    {% include "ui/md/card/accordion.md" %}
{% endset %}

{% block style %}
    <link rel="stylesheet" href="/_includes/ui/css/card/accordion.css">
{% endblock %}

{% block script %}
    <script defer src="/_includes/ui/js/card/accordion.js"></script>
{% endblock %}


