---
title: 'Payment'
extendedTitle: 'Payment Card'
---

{% extends "layout/component.html" %}

{% set preview %}
    <div class="ui ui--payment-card">
        {% include "ui/html/card/payment.html" %}
    </div>
{% endset %}

{% set html %}
    {% include "ui/html/card/payment.html" %}
{% endset %}

{% set scss %}
    {% include "ui/scss/card/payment.scss" %}
{% endset %}

{% set description %}
    {% include "ui/md/card/payment.md" %}
{% endset %}

{% block style %}
    <link rel="stylesheet" href="/_includes/ui/css/card/payment.css">
{% endblock %}
