<div x-data="{
    activeTab: 'preview',
    direction: 'ltr',
    copied: false,
    async copyTextToClipboard() {
        const code = document.querySelector(`#tab-content-${this.activeTab}`).dataset.code;

        if ('clipboard' in navigator) {
            return await navigator.clipboard.writeText(code);
        } else {
            return document.execCommand('copy', true, code);
        }
    },
    copyCode() {
        this.copyTextToClipboard()
        .then(() => {
            this.copied = true;
            setTimeout(() => this.copied = false, 2500);
        })
        .catch((err) => {
            console.log(err);
        });
    }
}" x-cloak class="code-tab">
    <div class="code-tab__header">
        <div class="code-tab__group code-tab__group--title">
            <p class="code-tab__title">
                {% if extendedTitle %}
                    {{ extendedTitle }}
                {% else %}
                    {{ title }}
                {% endif %}
            </p>
        </div>
        <ul class="code-tab__group code-tab__group--tabs">
            {% if preview %}
                <li>
                    <button @click="activeTab = 'preview'" :class="{ 'btn--active': activeTab === 'preview', 'btn--primary': activeTab === 'preview', 'btn--discrete': activeTab !== 'preview' }" class="btn btn--sm">
                        Preview
                    </button>
                </li>
            {% endif %}
            {% if scss %}
                <li>
                    <button @click="activeTab = 'scss'" :class="{ 'btn--active': activeTab === 'scss', 'btn--primary': activeTab === 'scss', 'btn--discrete': activeTab !== 'scss' }" class="btn btn--sm">
                        SCSS
                    </button>
                </li>
            {% endif %}
            {% if html %}
                <li>
                    <button @click="activeTab = 'html'" :class="{ 'btn--active': activeTab === 'html', 'btn--primary': activeTab === 'html', 'btn--discrete': activeTab !== 'html' }" class="btn btn--sm">
                        HTML
                    </button>
                </li>
            {% endif %}
            {% if js %}
                <li>
                    <button @click="activeTab = 'js'" :class="{ 'btn--active': activeTab === 'js', 'btn--primary': activeTab === 'js', 'btn--discrete': activeTab !== 'js' }" class="btn btn--sm">
                        JS
                    </button>
                </li>
            {% endif %}
        </ul>
        <button @click="direction = (direction === 'rtl' ? 'ltr' : 'rtl')" :class="{ 'btn--primary': direction === 'rtl', 'btn--discrete' : direction === 'ltr' }" class="btn btn--sm">
            RTL
        </button>
        <button @click="copyCode" class="btn btn--primary btn--icon btn--sm copy-btn" aria-label="Copy" :disabled="activeTab === 'preview'">
            <span x-show="!copied">{% include "icon/copy.svg" %}</span>
            <span x-show="copied">{% include "icon/check-copy.svg" %}</span>
        </button>
    </div>
    <div class="code-tab__body">
        {% if preview %}
            <div id="tab-content-preview" :dir="direction" role="tabpanel" aria-labelledby="tab-control-preview" x-show="activeTab === 'preview'">
                {{ preview | safe }}
            </div>
        {% endif %}

        {% if scss %}
            <div id="tab-content-scss" role="tabpanel" aria-labelledby="tab-control-scss" x-show="activeTab === 'scss'" data-code="{{ scss | removeFirstLine | trim }}">
                {% highlight "scss" %}
                    {{ scss | removeFirstLine | safe }}
                {% endhighlight %}
            </div>
        {% endif %}

        {% if html %}
            <div id="tab-content-html" role="tabpanel" aria-labelledby="tab-control-html" x-show="activeTab === 'html'" data-code="{{ html | removeEmptyLines | trim }}">
                {% highlight "html" %}
                    {{ html | removeEmptyLines | safe }}
                {% endhighlight %}
            </div>
        {% endif %}

        {% if js %}
            <div id="tab-content-js" role="tabpanel" aria-labelledby="tab-control-js" x-show="activeTab === 'js'" data-code="{{ js | trim }}">
                {% highlight "js" %}
                    {{ js | safe }}
                {% endhighlight %}
            </div>
        {% endif %}
    </div>
</div>
