<nav class="post-navigation">
    {% if ui[pagination.pageNumber - 1].title %}
        <a class="post-navigation-item post-navigation-item--prev" href="/ui/{{ ui[pagination.pageNumber - 1].folder }}/{{ ui[pagination.pageNumber - 1].slug }}">
            <span class="post-navigation-item__icon">
                {% include "icon/arrow-left.svg" %}
            </span>
            <span class="post-navigation-item__caption">
                Previous
                <span class="post-navigation-item__title">{{ ui[pagination.pageNumber - 1].title }}</span>
            </span>
        </a>
    {% endif %}
    {% if ui[pagination.pageNumber + 1].title %}
        <a class="post-navigation-item post-navigation-item--next" href="/ui/{{ ui[pagination.pageNumber + 1].folder }}/{{ ui[pagination.pageNumber + 1].slug }}">
            <span class="post-navigation-item__caption">
                Next
                <span class="post-navigation-item__title">{{ ui[pagination.pageNumber + 1].title }}</span>
            </span>
            <span class="post-navigation-item__icon">
                {% include "icon/arrow-right.svg" %}
            </span>
        </a>
    {% endif %}
</nav>
