<header class="site-header">
    <div class="container">
        <div class="site-header__inner">
            <div class="site-header__column">
                <a class="site-header__logo" href="/" aria-label="Spruce CSS">
                    {% svgIcon "./src/img/spruce-logo.svg" %}
                </a>
                <nav
                    class="site-navigation site-header__navigation"
                    aria-label="Site"
                >
                    <button
                        class="btn btn--primary btn--icon btn--rounded site-navigation__btn"
                        data-action="navigation-toggle"
                        aria-controls="primary-menu"
                        aria-expanded="false"
                        aria-label="Menu"
                    >
                        {% svgIcon "./src/img/icon/menu.svg", "btn__icon" %}
                    </button>

                    {% if navigation.header.length > 0 %}
                    <ul class="navigation-menu">
                        {% for item in navigation.header %}
                        <li>
                            <a
                                href="{{ item.url }}"
                                {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
                            >
                                {{ item.caption }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </nav>
            </div>
            {% if site.socials.length %}
                <div class="site-header__actions">
                    {% for social in site.socials %}
                        <a
                            aria-label="{{ social.name }}"
                            class="btn btn--primary btn--icon btn--twitter btn--rounded"
                            href="{{ social.url }}"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            {% svgIcon social.icon, "btn__icon" %}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</header>
