{% set previousPost = postNavigation | getPreviousCollectionItem %}
{% set nextPost = postNavigation | getNextCollectionItem %}

<nav class="sprucecss-post-navigation">
    {% if previousPost %}
        <a class="sprucecss-post-navigation-item sprucecss-post-navigation-item--prev" href="{{ previousPost.url }}">
            <span class="sprucecss-post-navigation-item__icon">
                {% include "icon/arrow-left.svg" %}
            </span>
            <span class="sprucecss-post-navigation-item__caption">
                Previous
                <span class="sprucecss-post-navigation-item__title">{{ previousPost.data.title }}</span>
            </span>
        </a>
    {% endif %}
    {% if nextPost %}
        <a class="sprucecss-post-navigation-item sprucecss-post-navigation-item--next" href="{{ nextPost.url }}">
            <span class="sprucecss-post-navigation-item__caption">
                Next
                <span class="sprucecss-post-navigation-item__title">{{ nextPost.data.title }}</span>
            </span>
            <span class="sprucecss-post-navigation-item__icon">
                {% include "icon/arrow-right.svg" %}
            </span
        ></a>
    {% endif %}
</nav>
