<div class="sprucecss-post-heading {{ heading.class }}">
    <h1 class="sprucecss-post-heading__title">{{ heading.title }}</h1>

    {% if heading.description %}
        <p class="sprucecss-post-heading__description">{{ heading.description }}</p>
    {% endif %}

    {% if heading.showBreadcrumb %}
        <div class="sprucecss-post-heading__breadcrumb">
            <ul class="breadcrumb-list">
                <li><a href="/">Home</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><span aria-current="page">{{ title }}</span></li>
            </ul>
        </div>
    {% endif %}

    {% if heading.showMeta %}
        <div class="sprucecss-post-heading__meta">
            <a class="sprucecss-post-author" href="ttps://twitter.com/_iamadam" rel="noopener noreferrer" target="_blank">
                <img class="sprucecss-post-author__avatar" src="https://secure.gravatar.com/avatar/fd9479a898c593601efd2fe758a86dba?s=96&d=mm&r=g" alt="" width="40" height="40" />
                <span class="sprucecss-post-author__name">by Adam Laki</span>
            </a>
            {% include "partial/tags.html" %}
            <span>
                <span class="sr-only">Posted on</span>
                <time datetime="{{ date | w3Date }}">{{ date | date('en') }}</time>
            </span>
        </div>
    {% endif %}
</div>
