<aside class="sidebar l-documentation__sidebar">
    {% for navigation in componentNavigation %}
        <section class="sidebar-section">
            <h3 class="sidebar-section__title">{{ navigation.title }}</h3>
            <nav class="sidebar-section__navigation">
                <ul>
                    {% for item in navigation.items %}
                    <li>
                        <a
                            href="{{ item.url }}"
                            {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
                        >
                            {{ item.caption }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </section>
    {% endfor %}
</aside>
