<aside class="sidebar l-documentation__sidebar">
    <section class="sidebar-section">
        <h3 class="sidebar-section__title">Getting Started</h3>
        <nav class="sidebar-section__navigation">
            <ul>
                <li>
                    <a
                        href="/ui/getting-started/introduction"
                        {{ helpers.getLinkActiveState("/ui/getting-started/introduction", page.url) | safe }}
                    >
                        Introduction
                    </a>
                </li>
                <li>
                    <a href="/ui/getting-started/config" {{ helpers.getLinkActiveState("/ui/getting-started/config", page.url) | safe }}>Config</a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="sidebar-section">
        <h3 class="sidebar-section__title">Card</h3>
        <nav class="sidebar-section__navigation">
            <ul>
                <li>
                    <a href="/ui/card/accordion" {{ helpers.getLinkActiveState("/ui/card/accordion", page.url) | safe }}>Accordion</a>
                </li>
                <li>
                    <a href="/ui/card/order" {{ helpers.getLinkActiveState("/ui/card/order", page.url) | safe }}>Order</a>
                </li>
                <li>
                    <a href="/ui/card/payment" {{ helpers.getLinkActiveState("/ui/card/payment", page.url) | safe }}>Payment</a>
                </li>
                <li>
                    <a href="/ui/card/post" {{ helpers.getLinkActiveState("/ui/card/post", page.url) | safe }}>Post</a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="sidebar-section">
        <h3 class="sidebar-section__title">Content and Layout</h3>
        <nav class="sidebar-section__navigation">
            <ul>
                <li>
                    <a href="/ui/content-and-layout/container" {{ helpers.getLinkActiveState("/ui/content-and-layout/container", page.url) | safe }}>Container</a>
                </li>
                <li>
                    <a href="/ui/content-and-layout/feature" {{ helpers.getLinkActiveState("/ui/content-and-layout/feature", page.url) | safe }}>Feature</a>
                </li>
                <li>
                    <a href="/ui/content-and-layout/gallery" {{ helpers.getLinkActiveState("/ui/content-and-layout/gallery", page.url) | safe }}>Gallery</a>
                </li>
                <li>
                    <a href="/ui/content-and-layout/modal" {{ helpers.getLinkActiveState("/ui/content-and-layout/modal", page.url) | safe }}>Modal</a>
                </li>
                <li>
                    <a href="/ui/content-and-layout/post-author" {{ helpers.getLinkActiveState("/ui/content-and-layout/post-author", page.url) | safe }}>Post Author</a>
                </li>
                <li>
                    <a href="/ui/content-and-layout/post-content" {{ helpers.getLinkActiveState("/ui/content-and-layout/post-content", page.url) | safe }}>Post Content</a>
                </li>
                <li>
                    <a href="/ui/content-and-layout/post-heading" {{ helpers.getLinkActiveState("/ui/content-and-layout/post-heading", page.url) | safe }}>Post Heading</a>
                </li>
                <li>
                    <a href="/ui/content-and-layout/site-footer" {{ helpers.getLinkActiveState("/ui/content-and-layout/site-footer", page.url) | safe }}>Site Footer</a>
                </li>
                <li>
                    <a href="/ui/content-and-layout/site-header" {{ helpers.getLinkActiveState("/ui/content-and-layout/site-header", page.url) | safe }}>Site Header</a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="sidebar-section">
        <h3 class="sidebar-section__title">Ecommerce</h3>
        <nav class="sidebar-section__navigation">
            <ul>
                <li>
                    <a href="/ui/ecommerce/checkout" {{ helpers.getLinkActiveState("/ui/ecommerce/checkout", page.url) | safe }}>Checkout</a>
                </li>
                <li>
                    <a href="/ui/ecommerce/invoice" {{ helpers.getLinkActiveState("/ui/ecommerce/invoice", page.url) | safe }}>Invoice</a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="sidebar-section">
        <h3 class="sidebar-section__title">Feedback</h3>
        <nav class="sidebar-section__navigation">
            <ul>
                <li>
                    <a href="/ui/feedback/alert" {{ helpers.getLinkActiveState("/ui/feedback/alert", page.url) | safe }}>Alert</a>
                </li>
                <li>
                    <a href="/ui/feedback/preloader" {{ helpers.getLinkActiveState("/ui/feedback/preloader", page.url) | safe }}>Preloader</a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="sidebar-section">
        <h3 class="sidebar-section__title">Form</h3>
        <nav class="sidebar-section__navigation">
            <ul>
                <li>
                    <a href="/ui/form/auth" {{ helpers.getLinkActiveState("/ui/form/auth", page.url) | safe }}>Auth</a>
                </li>
                <li>
                    <a href="/ui/form/combobox" {{ helpers.getLinkActiveState("/ui/form/combobox", page.url) | safe }}>Combobox</a>
                </li>
                <li>
                    <a href="/ui/form/file-group" {{ helpers.getLinkActiveState("/ui/form/file-group", page.url) | safe }}>File Group</a>
                </li>
                <li>
                    <a href="/ui/form/file-list" {{ helpers.getLinkActiveState("/ui/form/file-list", page.url) | safe }}>File List</a>
                </li>
                <li>
                    <a href="/ui/form/number-group" {{ helpers.getLinkActiveState("/ui/form/number-group", page.url) | safe }}>Number Group</a>
                </li>
                <li>
                    <a href="/ui/form/range-group" {{ helpers.getLinkActiveState("/ui/form/range-group", page.url) | safe }}>Range Group</a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="sidebar-section">
        <h3 class="sidebar-section__title">List</h3>
        <nav class="sidebar-section__navigation">
            <ul>
                <li>
                    <a href="/ui/list/changelog" {{ helpers.getLinkActiveState("/ui/list/changelog", page.url) | safe }}>Changelog</a>
                </li>
                <li>
                    <a href="/ui/list/post" {{ helpers.getLinkActiveState("/ui/list/post", page.url) | safe }}>Post</a>
                </li>
                <li>
                    <a href="/ui/list/timeline" {{ helpers.getLinkActiveState("/ui/list/timeline", page.url) | safe }}>Timeline</a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="sidebar-section">
        <h3 class="sidebar-section__title">Misc</h3>
        <nav class="sidebar-section__navigation">
            <ul>
                <li>
                    <a href="/ui/misc/cookie-consent" {{ helpers.getLinkActiveState("/ui/misc/cookie-consent", page.url) | safe }}>Cookie Consent</a>
                </li>
                <li>
                    <a href="/ui/misc/skip-link" {{ helpers.getLinkActiveState("/ui/misc/skip-link", page.url) | safe }}>Skip Link</a>
                </li>
                <li>
                    <a href="/ui/misc/theme-switcher-button" {{ helpers.getLinkActiveState("/ui/misc/theme-switcher-button", page.url) | safe }}>Theme Switcher Button</a>
                </li>
                <li>
                    <a href="/ui/misc/theme-switcher-select" {{ helpers.getLinkActiveState("/ui/misc/theme-switcher-select", page.url) | safe }}>Theme Switcher Select</a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="sidebar-section">
        <h3 class="sidebar-section__title">Navigation</h3>
        <nav class="sidebar-section__navigation">
            <ul>
                <li>
                    <a href="/ui/navigation/breadcrumb-list" {{ helpers.getLinkActiveState("/ui/navigation/breadcrumb-list", page.url) | safe }}>Breadcrumb List</a>
                </li>
                <li>
                    <a href="/ui/navigation/context-menu" {{ helpers.getLinkActiveState("/ui/navigation/context-menu", page.url) | safe }}>Context Menu</a>
                </li>
                <li>
                    <a href="/ui/navigation/open-search" {{ helpers.getLinkActiveState("/ui/navigation/open-search", page.url) | safe }}>Open Search</a>
                </li>
                <li>
                    <a href="/ui/navigation/pagination" {{ helpers.getLinkActiveState("/ui/navigation/pagination", page.url) | safe }}>Pagination</a>
                </li>
                <li>
                    <a href="/ui/navigation/post" {{ helpers.getLinkActiveState("/ui/navigation/post", page.url) | safe }}>Post</a>
                </li>
                <li>
                    <a href="/ui/navigation/site-navigation" {{ helpers.getLinkActiveState("/ui/navigation/site-navigation", page.url) | safe }}>Site Navigation</a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="sidebar-section">
        <h3 class="sidebar-section__title">Pages</h3>
        <nav class="sidebar-section__navigation">
            <ul>
                <li>
                    <a href="/ui/page/auth" {{ helpers.getLinkActiveState("/ui/page/auth", page.url) | safe }}>Auth</a>
                </li>
                <li>
                    <a href="/ui/page/post" {{ helpers.getLinkActiveState("/ui/page/post", page.url) | safe }}>Post</a>
                </li>
            </ul>
        </nav>
    </section>
</aside>
