{% set grouped = collections.ui | groupBy('category') %}

<aside class="sidebar">
    {% for category, items in grouped %}
        <div class="sidebar-section">
            <h3 class="sidebar-section__title">{{ category }}</h3>
            <nav class="sidebar-section__navigation">
                <ul>
                    {% for item in items %}
                    <li>
                        <a
                            href="{{ item.url }}"
                            {{ helper.getLinkActiveState(item.url, page.url) | safe }}
                        >
                            {{ item.data.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    {% endfor %}
</aside>
