<div class="sprucecss-theme-switcher" id="sprucecss-theme-switcher">
    <button
        class="btn btn--primary btn--sm btn--icon sprucecss-theme-switcher__system-mode"
        aria-label="Switch to light mode"
        data-action="light"
    >
        {% svgIcon "./src/_includes/icon/system-mode.svg", "btn__icon" %}
    </button>
    <button
        class="btn btn--primary btn--sm btn--icon sprucecss-theme-switcher__light-mode"
        aria-label="Switch to dark mode"
        data-action="dark"
    >
        {% svgIcon "./src/_includes/icon/light-mode.svg", "btn__icon" %}
    </button>
    <button
        class="btn btn--primary btn--sm btn--icon sprucecss-theme-switcher__dark-mode"
        aria-label="Switch to system mode"
        data-action="system"
    >
        {% svgIcon "./src/_includes/icon/dark-mode.svg", "btn__icon" %}
    </button>
</div>
