{% extends "layout/base.njk" %}

{% set title = "Call to Action" %}

{% block style %}
    <link rel="stylesheet" href="{{ domain }}/css/utility/center-vertical.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/call-to-action.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/container.css?{{ hash }}">
    <style>
        .container {
            padding-block: 2rem;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        {% include "./call-to-action.njk" %}
    </div>
{% endblock %}
