<div class="l-feature">
    <div class="container">
        <div class="l-feature__inner">
            <div class="feature feature--start">
                <img class="feature__thumbnail" src="{{ domain }}{{ feature[0].image }}" alt=""/>
                <div class="feature__caption">
                    <h2 class="feature__title">{{ feature[0].title }}</h2>
                    <p class="lead">{{ feature[0].lead }}</p>
                    <p>{{ feature[0].description }}</p>
                    <a class="btn btn--secondary btn--lg feature__btn" href="#">
                        Learn more
                        {% svgIcon './src/img/icon/arrow-right.svg', 'btn__icon' %}
                    </a>
                </div>
            </div>
            <div class="feature feature--end">
                <img class="feature__thumbnail" src="{{ domain }}{{ feature[1].image }}" alt=""/>
                <div class="feature__caption">
                    <h2 class="feature__title">{{ feature[1].title }}</h2>
                    <p class="lead">{{ feature[1].lead }}</p>
                    <p>{{ feature[1].description }}</p>
                    <a class="btn btn--secondary btn--lg feature__btn" href="#">
                        Learn more
                        {% svgIcon './src/img/icon/arrow-right.svg', 'btn__icon' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
