{% extends "layout/base.njk" %}

{% set title = "Feature" %}

{% block style %}
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/container.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/feature.css?{{ hash }}">
    <style>
        body {
            padding-block: clamp(4.5rem, 5vw, 7rem);
        }
    </style>
{% endblock %}

{% block content %}
    {% include "./feature.njk" %}
{% endblock %}
