{% extends "layout/base.njk" %}

{% set title = "Post Content" %}

{% block style %}
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/container.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/post-content.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/gallery.css?{{ hash }}">
    <style>
        body {
            padding-block: 3rem;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "./post-content.njk" %}
{% endblock %}
