<div class="post-heading">
    <div class="container">
        <div class="post-heading__inner">
            <h1 class="post-heading__title">Why Mountains Is No Friend to Small Business</h1>
            {% include "../navigation/breadcrumb-list.html" %}
            <div class="post-heading__meta">
                {% include "./post-author.html" %}
                <span>Posted in <a href="#">Business</a>, <a href="#">Notes</a></span>
                <span>
                    <span class="sr-only">Posted on</span>
                    <time datetime="2022-03-17T11:47:25+01:00">Mar 17, 2022</time>
                </span>
            </div>
        </div>
    </div>
</div>
