{% set navigation = {
    'class': 'site-navigation site-header__navigation'
} %}

<header class="site-header">
    <div class="container">
        <div class="site-header__inner">
            <div class="site-header__column">
                <a class="site-header__logo" href="#">
                    <img src="{{ domain }}/img/cone-logo.svg" alt="Cone" width="48" height="48"/>
                </a>
                {% include "../navigation/site-navigation.njk" %}
            </div>
            <div class="site-header__actions">
                <a class="site-header__email" href="mailto:hello@conedevelopment.com">hello@conedevelopment.com</a>
                <a class="btn btn--primary" href="#">
                    {% svgIcon './src/img/icon/user.svg',
                    'btn__icon' %}
                    Log in
                </a>
            </div>
        </div>
    </div>
</header>
