@use '../config/config';
@use 'sprucecss/scss/spruce' as *;

@media print {
  body {
    padding-block: 0;
  }

  .container {
    padding-inline: 0;
  }
}

body {
  background-color: color('background', 'invoice');
  padding-block: 2rem;
}
