---
title: 'Post Page'
---

{% extends "layout/component.html" %}

{% set preview %}
    <div class="ui ui--post">
        {% include "ui/html/page/post.html" %}
    </div>
{% endset %}

{% set html %}
    {% include "ui/html/page/post.html" %}
{% endset %}

{% set scss %}
    {% include "ui/scss/page/post.scss" %}
{% endset %}

{% set description %}
    {% include "ui/md/page/post.md" %}
{% endset %}

{% block style %}
    <link rel="stylesheet" href="/_includes/ui/css/page/post.css">
    <link rel="stylesheet" href="/_includes/ui/css/form/post.css">
{% endblock %}
