{% extends "layout/base.njk" %}

{% set title = "Changelog" %}

{% block style %}
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/container.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/list/changelog.css?{{ hash }}">
    <style>
        body {
            padding-block: 3rem;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container container--narrow">
        {% include "./changelog.njk" %}
    </div>
{% endblock %}
