<div class="l-post-list">
    <div class="container">
        <div class="l-post-list__inner">
            {% for item in post %}
                {% include "../card/post.njk" %}
            {% endfor %}
        </div>
    </div>
</div>
