<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% include "partial/meta.html" %}
        <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">

        <script src="/js/theme-detection.js"></script>
        {% include "partial/preload.html" %}

        <link rel="stylesheet" href="/css/main.css">
        {% block style %}{% endblock %}
    </head>
    <body>
        <div class="site-wrapper">
            <a class="btn btn--primary skip-link" href="#content">Skip to content</a>
            {% include "partial/header.html" %}

            <main id="content">
                {% block content %}{% endblock %}
            </main>

            {% include "partial/github-cta.html" %}
            {% include "partial/footer.html" %}
        </div>

        {% include "partial/search-modal.html" %}
        {% block script %}{% endblock %}

        <script defer src="/js/navigation.js"></script>
        <script defer src="/js/sidebar-navigation.js"></script>
        <script defer src="/js/accordion-card.js"></script>
        <script defer src="/js/theme-switcher.js"></script>
        <script defer src="/js/modal.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3/dist/cdn.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3/dist/cdn.min.js"></script>
        <script defer src="/js/toc.js"></script>
        <script src="/js/cookie-consent.js" type="module"></script>
        <script src="/js/scripts.js" type="module"></script>
    </body>
</html>
