{% extends "layout/base.html" %}

{% block content %}
    <div class="l-documentation l-documentation--code">
        <div class="container">
            {% if component.preview %}
                <div class="l-documentation__code-tab">
                    {% include 'partial/code-tab.html' %}
                </div>
            {% endif %}
            <div class="l-documentation__inner">
                <aside class="l-documentation__sidebar">
                    [sidebar]
                </aside>
                <div class="l-documentation__body-helper">
                    <div class="l-documentation__body">
                        <div class="l-documentation__title-helper">
                            <h1 class="l-documentation__title">{{ title }}</h1>
                        </div>
                        <div class="l-documentation__table-of-content-helper">
                            <div class="l-documentation__table-of-content">
                                [TOC]
                            </div>
                        </div>
                        <div class="l-documentation__content">
                            <div class="post-content">
                                {{ component.content | markdown | safe }}
                            </div>
                        </div>
                    </div>
                    <div class="l-documentation__navigation-bottom">
                        <a href="/ui/{{ ui[pagination.pageNumber - 1].folder }}/{{ ui[pagination.pageNumber - 1].slug }}">{{ ui[pagination.pageNumber - 1].title }}</a>
                        <a href="/ui/{{ ui[pagination.pageNumber + 1].folder }}/{{ ui[pagination.pageNumber + 1].slug }}">{{ ui[pagination.pageNumber + 1].title }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
