{% extends "layout/base.html" %}

{% block content %}
    <div class="
        l-documentation
        {% if component.preview %}l-documentation--code{% endif %}
    ">
        <div class="container">
            {% if component.preview %}
                <div class="l-documentation__code-tab">
                    {% include 'partial/code-tab.html' %}
                </div>
                <div class="l-documentation__navigation-top">
                    {% include "partial/component-navigation.html" %}
                </div>
            {% endif %}
            <div class="l-documentation__inner">
                <aside class="l-documentation__sidebar">
                    {% include "partial/sidebar-component.html" %}
                </aside>
                <div class="l-documentation__body-helper">
                    <div class="l-documentation__body">
                        <div class="l-documentation__title-helper">
                            <h1 class="l-documentation__title">{{ title }}</h1>
                        </div>
                        <div class="l-documentation__table-of-content-helper">
                            <div class="l-documentation__table-of-content">
                                {{ component.content | toc | safe }}
                            </div>
                        </div>
                        <div class="l-documentation__content" data-pagefind-body>
                            <div class="post-content">
                                {{ component.content | markdown | safe }}
                            </div>
                        </div>
                    </div>
                    {% if not component.preview %}
                        <div class="l-documentation__navigation-bottom">
                            {% include "partial/component-navigation.html" %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% set gettingStartedSettings = {
        "classes": "l-getting-started--border-block-start"
    } %}
    {% include "../partial/getting-started.html" %}
{% endblock %}
