{% extends "layout/base.html" %}

{% block content %}
    <div class="l-documentation">
        <div class="container">
            <div class="l-documentation__inner">
                <aside class="l-documentation__sidebar">
                    {% include "partial/sidebar-docs.html" %}
                </aside>
                <div class="l-documentation__body-helper">
                    <div class="l-documentation__body">
                        <div class="l-documentation__title-helper">
                            <h1 class="l-documentation__title">{{ title }}</h1>
                        </div>
                        <div class="l-documentation__table-of-content-helper">
                            <div class="l-documentation__table-of-content">
                                {{ content | toc | safe }}
                            </div>
                        </div>
                        <div class="l-documentation__content">
                            <div class="post-content">
                                {{ content | safe }}

                                {% if github %}
                                    <div>
                                        <a href="{{ github }}" target="_blank" rel="noopener">Edit on GitHub</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="l-documentation__navigation-bottom">
                        {% set postNavigation = collections.docs %}
                        {% include "partial/post-navigation.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% set gettingStartedSettings = {
        "classes": "l-getting-started--border-block-start"
    } %}
    {% include "../partial/getting-started.html" %}
{% endblock %}
