{% extends "layout/base.html" %}

{% block content %}
    <div class="l-post">
        <div class="container">
            <div class="l-post__inner">
                {% set heading = {
                    "title": title,
                    "class": "post-heading--center",
                    "showBreadcrumb": false,
                    "showMeta": false,
                    "description": description
                } %}
                {% include "partial/post-heading.html" %}
                <div class="post-content post-content--blog">
                    {{ content | safe }}
                </div>
            </div>
        </div>
    </div>
    {% set gettingStartedSettings = {
        "classes": "l-getting-started--border-block-start"
    } %}
    {% include "../partial/getting-started.html" %}
{% endblock %}
