{% extends "layout/base.html" %}

{% set posts = pagination.items %}

{% if collections[ tag ] %}
    {% set posts = collections[tag].reverse() %}
    {% set title = 'Tagged with: ' + tag %}
{% endif %}

{% block content %}
    <main id="content" class="l-blog">
        <div class="container">
            {% set heading = {
                "title": "Blog",
                "description": "Spruce how-to and generic front-end development articles."
            } %}
            {% include "../partial/page-heading.html" %}
            <div class="l-blog__inner">
                {% for post in posts %}
                    {% set tags = post.data.tags %}
                    <div class="blog-card">
                        <h2 class="blog-card__title">
                            <a href="{{ post.url }}" class="blog-card__link">
                                {{ post.data.title }}
                            </a>
                        </h2>
                        <div class="blog-card__meta">
                            {% if post.data.date %}
                                <time datetime="{{ post.data.date | w3DateFilter }}">{{ post.data.date | dateFilter('en') }}</time>
                            {% endif %}
                            {% include "partial/tags.html" %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if not tag %}
                <div class="l-blog__pagination">
                    {% include "partial/pagination.html" %}
                </div>
            {% endif %}
        </div>
    </main>

    {% set gettingStartedSettings = {
        "classes": "l-getting-started--border-block-start"
    } %}
    {% include "../partial/getting-started.html" %}

{% endblock %}
