{% extends "layout/base.html" %}

{% block content %}
    <div class="l-post" data-pagefind-body>
        <div class="container container--narrow">
            {% set heading = {
                "title": title,
                "class": "sprucecss-post-heading--center",
                "showBreadcrumb": true,
                "showMeta": true
            } %}
            {% include "partial/post-heading.html" %}
            <div class="l-post__inner">
                <div class="post-content post-content--blog">
                    {% if featuredImage %}
                        {% image featuredImage, "", [1200, 1600], "(max-resolution: 72dpi) 53.75rem, (max-resolution: 300dpi) 53.75rem" %}
                    {% endif %}
                    {{ content | safe }}
                </div>
            </div>
        </div>
    </div>
    {% set gettingStartedSettings = {
        "classes": "l-getting-started--border-block-start"
    } %}
    {% include "../partial/getting-started.html" %}
{% endblock %}
