---
title: 'Timeline'
---

{% extends "layout/component.html" %}

{% set preview %}
    <div class="ui ui--timeline">
        {% include "ui/html/list/timeline.html" %}
    </div>
{% endset %}

{% set html %}
    {% include "ui/html/list/timeline.html" %}
{% endset %}

{% set scss %}
    {% include "ui/scss/list/timeline.scss" %}
{% endset %}

{% set description %}
    {% include "ui/md/list/timeline.md" %}
{% endset %}

{% block style %}
    <link rel="stylesheet" href="/_includes/ui/css/list/timeline.css">
{% endblock %}
