<main class="l-auth">
    <div class="l-auth__inner">
        <div class="l-auth__form">
            <a class="l-auth__logo" href="#">
                <img src="{{ domain }}/img/cone-logo.svg" alt="Cone" height="48" width="48"/>
            </a>
            {% include "../form/auth.njk" %}
            <div class="l-auth__footer">
                <p>Not a member? <a href="#">Sign up</a></p>
            </div>
        </div>
        <div class="l-auth__sidebar"></div>
    </div>
</main>
