{% extends "layout/base.njk" %}

{% set title = "Post Page" %}

{% block style %}
    <script>
        {% include "../../js/misc/theme-detection.js" %}
    </script>
    <link rel="stylesheet" href="{{ domain }}/css/page/post.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/container.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/site-header.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/navigation/site-navigation.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/navigation/breadcrumb-list.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/post-author.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/post-heading.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/post-content.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/site-footer.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/gallery.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/misc/theme-switcher-button.css?{{ hash }}">
{% endblock %}


{% block script %}
    <script defer src="{{ domain }}/js/navigation/site-navigation.js?{{ hash }}"></script>
    <script defer src="{{ domain }}/js/misc/theme-switcher-button.js?{{ hash }}"></script>
{% endblock %}

{% block content %}
    {% include "./post.njk" %}
{% endblock %}
