{% include "../content-and-layout/site-header.njk" %}
<div class="l-post">
    {% include "../content-and-layout/post-heading.njk" %}
    {% include "../content-and-layout/post-content.njk" %}
</div>
{% include "../content-and-layout/site-footer.njk" %}
