@use '../../../../scss/config/config'; // DELETE
@use 'sprucecss/scss/spruce' as *;

.l-feature {
  &__inner {
    @include layout-stack(spacer-clamp('xl', 'xxl'));

    @include breakpoint('md') {
      > * + * {
        margin-block-start: 0;
      }
    }
  }
}

.feature {
  $this: &;
  --column: 1;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(var(--column), minmax(0, 1fr));
  row-gap: spacer('m');

  @include breakpoint('md') {
    --column: 2;
  }

  &--start {
    @include breakpoint('md') {
      #{$this}__caption {
        padding-inline-start: spacer-clamp('l', 'xl');
      }
    }
  }

  &--end {
    @include breakpoint('md') {
      #{$this}__thumbnail {
        order: 1;
      }

      #{$this}__caption {
        padding-inline-end: spacer-clamp('l', 'xl');
      }
    }
  }

  &__thumbnail {
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__caption {
    @include layout-stack('s');

    @include breakpoint('md') {
      padding-block: spacer-clamp('xl', 8rem, 7.5vw);
    }
  }

  &__subtitle {
    align-items: center;
    background-color: color('subtitle-background', 'feature');
    border: 1px solid color('subtitle-border', 'feature');
    border-radius: config('border-radius-lg', $display);
    color: color('primary');
    display: inline-flex;
    font-size: 0.9375rem;
    gap: 0.65rem;
    padding: 0.15em spacer('s');
    text-align: start;
  }

  &__title {
    font-size: responsive-font-size(3rem, 25, '4vw + 1rem');
  }

  &__btn {
    margin-block-start: spacer('m');
  }
}
