.post-navigation {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
}

.post-navigation-item {
  align-items: center;
  display: flex;
  gap: 1rem;
  text-decoration: none;
}
.post-navigation-item:hover .post-navigation-item__icon {
  background-color: var(--spruce-navigation-color-icon-background-hover);
  color: var(--spruce-navigation-color-icon-foreground-hover);
}
.post-navigation-item--next {
  margin-inline-start: auto;
  text-align: end;
}
.post-navigation-item__icon {
  transition-duration: var(--spruce-duration);
  transition-property: all;
  transition-timing-function: var(--spruce-timing-function);
  align-items: center;
  background-color: var(--spruce-navigation-color-icon-background);
  block-size: 3rem;
  border-radius: 0.425rem;
  color: var(--spruce-navigation-color-icon-foreground);
  display: flex;
  flex-shrink: 0;
  inline-size: 3rem;
  justify-content: center;
}
.post-navigation-item__icon svg {
  --size: 1rem;
  block-size: var(--size);
  inline-size: var(--size);
}
[dir=rtl] .post-navigation-item__icon svg {
  transform: rotate(180deg);
}

.post-navigation-item__caption {
  color: var(--spruce-base-color-text);
  line-height: var(--spruce-line-height-md);
}
.post-navigation-item__title {
  color: var(--spruce-base-color-primary);
  display: flex;
  font-weight: 700;
}
