@use 'sprucecss/scss/spruce' as *;

.anchor-heading {
  $this: &;
  align-items: center;
  display: flex;
  gap: spacer('s');
  position: relative;

  &:hover,
  &:focus-within {
    #{$this}__link {
      opacity: 1;
    }
  }

  h2,
  h3 {
    margin-block: 0;
  }

  &__link {
    @include transition;
    display: inline-flex;
    flex-shrink: 0;
    opacity: 0;

    svg {
      --size: 0.65em;
      block-size: var(--size);
      inline-size: var(--size);
    }
  }
}
