@use 'sass:color';
@use 'sprucecss/scss/spruce' as *;

$color-primary: hsl(261deg 54% 70%);

.cookie-consent-helper {
  display: flex;
  inset: auto spacer('m') spacer('m') spacer('m');
  justify-content: center;
  position: fixed;
  z-index: 25;
}

.cookie-consent {
  @include set-css-variable((
    --base-color-text: hsl(0deg 0% 97%),
    --base-color-link: $color-primary,
    --base-color-link-hover: color.scale($color-primary, $lightness: 20%),
  ));

  align-items: center;
  background-color: hsl(260deg 70% 6%);
  border-radius: config('border-radius-lg', $display);
  box-shadow: 0 0 3rem hsl(0deg 0% 0% / 10%);
  color: color('text');
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: spacer('s') spacer('m');
  justify-content: center;
  padding: spacer('s');
  text-align: center;

  &__caption {
    @include layout-stack('xs');
  }

  &__btns {
    display: flex;
    gap: spacer('s');
  }
}
