@forward 'skip-link';
@forward 'navigation';
@forward 'cookie-consent';
@forward 'theme-switcher';
@forward 'heading';
@forward 'breadcrumb-list';
@forward 'accordion-list';
@forward 'card';
@forward 'post-author';
@forward 'text-btn';
@forward 'form';
@forward 'pagination';
@forward 'pagefind';
@forward 'modal';
@forward 'template';
@forward 'notification';
@forward 'open-search';
@forward 'tags';
@forward 'ide';
@forward 'code-tab';
@forward 'preview';
@forward 'sidebar';
@forward 'toc';
@forward 'post-navigation';
@forward 'prism';
@forward 'anchor-heading';
@forward 'ui';
