@forward 'skip-link';
@forward 'navigation';
@forward 'theme-switcher';
@forward 'heading';
@forward 'breadcrumb-list';
@forward 'accordion-list';
@forward 'card';
@forward 'post-author';
@forward 'text-btn';
@forward 'form';
@forward 'pagination';
@forward 'notification';
@forward 'tags';
@forward 'code-tab';
@forward 'sidebar';
@forward 'toc';
@forward 'post-navigation';
@forward 'prism';
@forward 'anchor-heading';
