@forward 'skip-link';
@forward 'navigation';
@forward 'theme-switcher';
@forward 'heading';
@forward 'breadcrumb-list';
@forward 'accordion-list';
@forward 'card';
@forward 'post-author';
@forward 'text-btn';
@forward 'form';
@forward 'pagination';
@forward 'tags';
@forward 'prism';
