@use 'sprucecss/scss/spruce' as *;

.spruce-modal-backdrop {
  align-items: start;
  backdrop-filter: blur(0.15rem);
  background-color: color('background', 'modal');
  display: none;
  inset: 0;
  justify-content: center;
  overflow-y: auto;
  padding: spacer('s');
  position: fixed;
  z-index: 25;

  &--open {
    display: flex;
  }
}

.spruce-modal {
  background-color: color('background');
  border: 1px solid color('border');
  border-radius: config('border-radius-sm', $display);
  box-shadow: 0 0 spacer('xxs') hsl(201.15deg 72.03% 32.71% / 5%);
  inline-size: 40rem;
  margin-block: 7rem;
  margin-inline: auto;
  max-inline-size: 100%;
  outline: 0;
  position: relative;
}
