@use 'sprucecss/scss/spruce' as *;

.site-navigation {
  font-family: var(--doc-body-font-family);

  &__btn {
    @include breakpoint('md') {
      display: none;
    }

    &[aria-expanded='true'] + ul {
      display: flex;
    }
  }

  ul {
    background-color: color('background');
    display: none;
    flex-direction: column;
    gap: spacer('s');
    inset: 100% 0 auto 0;
    list-style: none;
    margin: 0;
    padding-block: spacer('m');
    padding-inline: spacer-clamp('m', 'l');
    position: absolute;

    @include breakpoint('md') {
      align-items: center;
      background-color: transparent;
      display: flex !important;
      flex-direction: row;
      flex-wrap: wrap;
      gap: spacer-clamp('m', 'l');
      inset: auto;
      padding: 0;
      position: relative;
    }
  }

  li {
    margin-block: 0;
  }

  a {
    align-items: center;
    color: color('heading');
    display: flex;
    gap: spacer('xs');
    text-decoration: none;

    &:hover {
      color: color('primary');
    }

    &[aria-current='page'] {
      color: color('primary');
      font-weight: 700;
    }
  }
}
