@use 'sprucecss/scss/spruce' as *;

.tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: spacer('xs');

  &__title {
    margin-block: 0;
  }

  &__list {
    @include clear-list;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: spacer('xs');

    > * + * {
      margin-block-start: 0;
    }
  }
}
