@use 'sass:color';

$dark-color-black: hsl(206deg 100% 7%);
$dark-color-danger: hsl(0deg 71% 51%);
$dark-color-gray-dark: hsl(0deg 0% 100% / 8%);
$dark-color-gray: hsl(0deg 0% 97%);
$dark-color-primary: hsl(261deg 54% 70%);
$dark-color-secondary: hsl(227deg 92% 55%);
$dark-color-success: hsl(150deg 100% 33%);
$dark-color-white: hsl(0deg 0% 95%);

$colors: (
  'base': (
    'background': $dark-color-black,
    'blockquote-border': $dark-color-primary,
    'border': $dark-color-gray-dark,
    'code-background': hsl(207deg 64% 18%),
    'code-foreground': $dark-color-white,
    'code-tab-background': hsl(0deg 0% 0% / 15%),
    'heading': $dark-color-white,
    'link': $dark-color-primary,
    'link-hover': color.scale($dark-color-primary, $lightness: 20%),
    'mark-background': hsl(50 100% 80%),
    'mark-foreground': $dark-color-black,
    'marker': $dark-color-primary,
    'primary': $dark-color-primary,
    'secondary': $dark-color-secondary,
    'strong': $dark-color-gray,
    'text': $dark-color-gray,
  ),
  'breadcrumb': (
    'separator': hsl(0deg 0% 100% / 10%),
  ),
  'btn': (
    'discrete-background-hover': hsl(261deg 52% 59%),
    'discrete-foreground': hsl(0deg 0% 100%),
    'discrete-foreground-hover': hsl(0deg 0% 100%),
    'install-background': hsl(207deg 39% 17%),
    'install-background-hover': hsl(207 23% 26%),
    'install-foreground': hsl(0deg 0% 100%),
    'discrete-background': hsl(0deg 0% 96% / 10%),
    'primary-background': hsl(261 52% 59%),
    'primary-background-hover': hsl(261 52% 65%),
    'primary-foreground': $dark-color-white,
    'primary-shadow': color.adjust($dark-color-primary, $lightness: -25%),
    'secondary-background': $dark-color-secondary,
    'secondary-background-hover': color.adjust($dark-color-secondary, $lightness: 5%),
    'secondary-foreground': $dark-color-white,
    'secondary-shadow': color.adjust($dark-color-secondary, $lightness: -20%),
  ),
  'container': (
    'background': hsl(207deg 92% 12%),
  ),
  'form': (
    'background': color.scale($dark-color-black, $lightness: 5%),
    'background-disabled': $dark-color-black,
    'border': $dark-color-gray-dark,
    'border-disabled': $dark-color-gray-dark,
    'border-focus': $dark-color-primary,
    'check-background': $dark-color-primary,
    'check-focus-ring': $dark-color-primary,
    'check-foreground': $dark-color-black,
    'invalid': $dark-color-danger,
    'invalid-focus-ring': color.adjust($dark-color-danger, $alpha: -0.75),
    'label': $dark-color-white,
    'legend': $dark-color-white,
    'placeholder': hsl(0deg 0% 60%),
    'range-thumb-background': $dark-color-primary,
    'range-thumb-focus-ring': $dark-color-primary,
    'range-track-background': $dark-color-gray-dark,
    'ring-focus': color.adjust($dark-color-primary, $alpha: -0.75),
    'select-foreground': hsl(0deg 0% 100%),
    'text': $dark-color-gray,
    'valid': $dark-color-success,
    'valid-focus-ring': color.adjust($dark-color-success, $alpha: -0.75),
  ),
  'footer': (
    'background': hsl(206deg 100% 6%),
  ),
  'hero': (
    'note-color': hsl(0deg 0% 100%),
    'note-background': hsl(207deg 64% 16%),
    'gradient-start': hsl(206deg 100% 6%),
    'gradient-end': hsl(206deg 100% 7%),
  ),
  'ide': (
    'header-background': hsl(0deg 0% 0%),
  ),
  'navigation': (
    'icon-background': hsl(207deg 23% 26%),
    'icon-background-hover': hsl(207deg 39% 17%),
    'icon-foreground': hsl(0deg 0% 100%),
    'icon-foreground-hover': hsl(0deg 0% 100%),
  ),
  'modal': (
    'background': hsl(206deg 100% 3% / 70%),
  ),
  'prism': (
    'color': hsl(217deg 34% 88%),
    'background': hsl(207deg 83% 10%),
    'comment': hsl(180deg 9% 55%),
    'punctuation': hsl(276deg 68% 75%),
    'namespace': hsl(197deg 31% 77%),
    'deleted': hsl(1deg 83% 63% / 56%),
    'boolean': hsl(350deg 100% 67%),
    'number': hsl(14deg 90% 70%),
    'constant': hsl(221deg 100% 75%),
    'class-name': hsl(33deg 100% 77%),
    'regex': hsl(217deg 34% 88%),
  ),
  'selection': (
    'background': $dark-color-primary,
    'foreground': $dark-color-white,
  ),
  'scrollbar': (
    'thumb-background': hsl(0deg 0% 100% / 15%),
    'thumb-background-hover': hsl(0deg 0% 100% / 25%),
    'track-background': hsl(0deg 0% 100% / 5%),
  ),
  'table': (
    'border': $dark-color-gray-dark,
    'caption': $dark-color-gray,
    'heading': $dark-color-white,
    'hover': hsl(0deg 0% 100% / 5%),
    'text': $dark-color-gray,
    'stripe': hsl(0deg 0% 100% / 2.5%),
  ),
);
