---
layout: 'layout/component.html'
pagination:
    data: ui
    size: 1
    alias: component
permalink: '/ui/{{ component.folder }}/{{ component.slug }}/'
eleventyComputed:
    title: "{{ component.title }}"
---
