---
title: 'Skip Link'
---

{% extends "layout/component.html" %}

{% set preview %}
    <div class="ui ui--center ui--skip-link">
        {% include "ui/html/misc/skip-link.html" %}
        {% include "ui/html/content-and-layout/post-content.html" %}
    </div>
{% endset %}

{% set html %}
    {% include "ui/html/misc/skip-link.html" %}
{% endset %}

{% set scss %}
    {% include "ui/scss/misc/skip-link.scss" %}
{% endset %}

{% set description %}
    {% include "ui/md/misc/skip-link.md" %}
{% endset %}

{% block style %}
    <link rel="stylesheet" href="/_includes/ui/css/misc/skip-link.css">
    <link rel="stylesheet" href="/_includes/ui/css/content-and-layout/post-content.css">
    <link rel="stylesheet" href="/_includes/ui/css/content-and-layout/gallery.css">
{% endblock %}
