@forward 'config';
@forward 'component';
@forward 'section';
@forward 'layout';
@forward 'extend';
@forward 'helper';


@use 'sprucecss/scss/spruce' as *;

:root {
  @include set-css-variable((
    --section-gap: clamp(5rem, 8vw, 9rem),
    --section-gap-half: clamp(3.5rem, 8vw, 6rem)
  ));
}

body {
  --doc-heading-font-family: 'Figtree', sans-serif;
  --doc-body-font-family: 'Inter', sans-serif;
  --doc-border-radius-sm: 0.5rem;
  --doc-border-radius-md: 0.925rem;
  --doc-border-radius-lg: 2rem;

  font-family: var(--doc-body-font-family);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--doc-heading-font-family);
}

[x-cloak] { display: none !important; }
