---
title: 'Range Group'
preview: true
order: 29
---

{% extends "layout/component.html" %}

{% set html %}
    {% include "ui/html/form/range-group.html" %}
{% endset %}

{% set scss %}
    {% include "ui/scss/form/range-group.scss" %}
{% endset %}

{% set js %}
    {% include "ui/js/form/range-group.js" %}
{% endset %}

{% set description %}
    {% include "ui/md/form/range-group.md" %}
{% endset %}
