---
title: 'Size Option'
---

{% extends "layout/component.html" %}

{% set preview %}
    <div class="ui ui--center">
        {% include "ui/html/form/size-option.html" %}
    </div>
{% endset %}

{% set html %}
    {% include "ui/html/form/size-option.html" %}
{% endset %}

{% set scss %}
    {% include "ui/scss/form/size-option.scss" %}
{% endset %}

{% set description %}
    {% include "ui/md/form/size-option.md" %}
{% endset %}

{% block style %}
    <link rel="stylesheet" href="/_includes/ui/css/form/size-option.css">
{% endblock %}
