---
title: 'Checkout'
---

{% extends "layout/component.html" %}

{% set preview %}
    <div class="ui ui--checkout">
        {% include "ui/html/ecommerce/checkout.html" %}
    </div>
{% endset %}

{% set html %}
    {% include "ui/html/ecommerce/checkout.html" %}
{% endset %}

{% set scss %}
    {% include "ui/scss/ecommerce/checkout.scss" %}
{% endset %}

{% set description %}
    {% include "ui/md/ecommerce/checkout.md" %}
{% endset %}

{% block style %}
    <link rel="stylesheet" href="/_includes/ui/css/ecommerce/checkout.css">
    <link rel="stylesheet" href="/_includes/ui/css/card/payment.css">
    <link rel="stylesheet" href="/_includes/ui/css/card/order.css">
    <link rel="stylesheet" href="/_includes/ui/css/form/number-group.css">
{% endblock %}
