{% extends "layout/base.njk" %}

{% set title = "Checkout" %}

{% block style %}
    <link rel="stylesheet" href="{{ domain }}/css/utility/center-vertical.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/content-and-layout/container.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/ecommerce/checkout.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/card/order.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/card/payment.css?{{ hash }}">
    <link rel="stylesheet" href="{{ domain }}/css/form/number-group.css?{{ hash }}">
    <style>
        .l-checkout {
            margin-block: 3rem;
        }
    </style>
{% endblock %}

{% block script %}
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock %}

{% block content %}
    {% include "./checkout.njk" %}
{% endblock %}
