<div class="l-checkout">
    <div class="container">
        <form class="l-checkout__inner">
            <div class="l-checkout__column">
                <div class="l-checkout__billing">
                    <h2 class="l-checkout__title">Billing information</h2>
                    <div class="l-checkout__form">
                        <div class="form-row--mixed">
                            <div class="form-group">
                                <label class="form-label" for="name">Name</label>
                                <input class="form-control" type="text" id="name"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="text" id="email"/>
                            </div>
                        </div>
                        <div class="form-row--mixed">
                            <div class="form-group">
                                <label class="form-label" for="country">Country</label>
                                <input class="form-control" type="text" id="country"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="zip">ZIP code</label>
                                <input class="form-control" type="text" id="zip"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="city">City</label>
                                <input class="form-control" type="text" id="city"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="address">Address</label>
                            <input class="form-control" type="text" id="address"/>
                        </div>
                    </div>
                </div>
                <div class="l-checkout__payment">
                    <h2 class="l-checkout__title">Payment method</h2>
                    {% include "../card/payment.html" %}
                </div>
            </div>
            <div class="l-checkout__column">
                <div class="l-checkout__summary">
                    <h2 class="l-checkout__title">Order summary</h2>
                    {% include "../card/order.html" %}
                    <div class="l-checkout__order">
                        <p>Total: <strong class="lead">150 €</strong>
                        </p>
                        <label class="form-check">
                            <input class="form-check__control" type="checkbox" value="true" name="privacy"/>
                            <span class="form-label form-check__label">I accept the <a href="#" target="_blank">privacy policy</a> and the <a href="#">terms and conditions</a>.</span>
                        </label>
                        <div class="form-group--submit">
                            <button class="btn btn--primary btn--lg btn--block btn--primary-shadow" type="submit">
                                <svg class="btn__icon" aria-hidden="true" focusable="false" role="img" height="24" style="fill-rule:evenodd;clip-rule:evenodd;fill:currentColor;overflow:visible;" viewBox="0 0 24 24" width="24" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M24,4.8l0,14.4c0,0.66 -0.235,1.225 -0.705,1.695c-0.47,0.47 -1.035,0.705 -1.695,0.705l-19.2,0c-0.66,0 -1.225,-0.235 -1.695,-0.705c-0.47,-0.47 -0.705,-1.035 -0.705,-1.695l-0,-14.4c-0,-0.66 0.235,-1.225 0.705,-1.695c0.47,-0.47 1.035,-0.705 1.695,-0.705l19.2,0c0.66,0 1.225,0.235 1.695,0.705c0.47,0.47 0.705,1.035 0.705,1.695Zm-21.6,2.4l19.2,0l0,-2.4l-19.2,0l0,2.4Zm0,4.8l0,7.2l19.2,0l0,-7.2l-19.2,0Zm0,7.2l0,-14.4l0,14.4Z"></path>
                                </svg> Pay 150 €
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
